$font-stack: Arial, Helvetica, sans-serif;
$dark-color: black;
$light-color: white;
$transparent-color: rgba(115, 115, 115, 0.55);
$btn-bg-color: rgb(20, 20, 37);
$small-font-size: small;
$x-small-font-size: x-small;
$grid-max-width: 1170px;
$grid-column-min-max: minmax(260px, 1fr);
$product-max-width: 250px;
$slider-background: #d3d3d3;
$slider-thumb-color: lightsalmon;
$btn-border-color: orange;
$font-size-large: large;
$font-size-normal: 17px;