@import '../../styles/variables';
@import '../../styles/mixin';

// Mixins

// Styles using Mixins
.product-details {
    @media (min-width: 768px) {
        .preview {
            flex: 0 0 66%;
        }
        .product-details-right {
            flex: 0 0 34%;
        }
    }

    .preview {
        overflow: hidden;
        height: 500px; // Corrected syntax by removing quotes
    }

    .buy-btn {
        @include button-style1($btn-bg-color);
    }
    
    .product-title {
        @include text-style($small-font-size, $transparent-color, bold);
    }
    
    .color-btn-icon {
        @include icon-button-style(20px, $transparent-color);
    }
}